

<!--     -->
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="Can Be any name" verbose="1" parallel="false" >

    <listeners>
        <listener class-name="org.uncommons.reportng.HTMLReporter"/>
        <listener class-name="org.uncommons.reportng.JUnitXMLReporter"/>
        <listener class-name="com.report_generator.TestNGCustomReportListener" />
    </listeners>

    <test name="some test">
        <classes>
            <class name="com.Test_cases.TestNG_Suite" />
        </classes>
    </test>


</suite>


