<!--     -->
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="This is a Suite Name" verbose="1" parallel="false" >

    <listeners>
        <listener class-name="org.uncommons.reportng.HTMLReporter"/>
        <listener class-name="org.uncommons.reportng.JUnitXMLReporter"/>
        <listener class-name="com.report_generator.TestNGCustomReportListener" />
    </listeners>

    <test name="This is Test Name ">
        <classes>
            <class name="com.Test_cases.Test_cases" />
        </classes>
    </test>


</suite>